body {
  font-family: "proxima-nova", serif;
}
h1, h2 {
  font-family: "clavo", Georgia, serif;
}
h1 {
  font-size: 5em;
  font-weight: 700;
}
h2 {
  font-size: 3em;
  font-weight: 400;
}
span.breeze {
  font-style: italic;
  color: #0DA4BC;
}
p {
  padding-left: 1.2em;
  font-size:1.2em;
}
.separate-me {
  border-bottom: 1px solid black;
}
@media only screen and (max-width: 767px) {
  #container {
    margin-top: 20px;
  }
  h1 {
    font-size: 64px;
    line-height: 64px;
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
}
