body {
  color: #222;
}
h1, h2, h3 {
  font-family: $header-font-family;
  font-weight: 700;
}
h1 {
  font-size: 5em;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
  color: $grey-color-dark;
}
p {
  font-size:1.2em;
}
.header {
  a, a:visited {
    text-decoration: none;
    color: #222;
  }
  a:hover {
    color: #0DA4BC;
  }
}
.punchline {
  color: $grey-color;
}

div.post-container {
  border-bottom: 1px solid lighten($grey-color, 40%);
  padding-bottom: 15px;
}

div.pad-bottom {
  padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  #container {
    margin-top: 20px;
  }
  h1 {
    font-size: 2em;
    line-height: 1.2em;
  }
  h2 {
    font-size: 1.4em;
    line-height: 1.2em;
  }
}
