body {
  color: #222;
}
h1, h2, h3 {
  font-family: "clavo", Georgia, serif;
  font-weight: 700;
  margin-bottom: 0;
}
h1 {
  font-size: 5em;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
a, a:visited {
  color: #444;
}
span.breeze {
  font-style: italic;
  color: #0DA4BC;
}
p {
  font-size:1.2em;
}
.punchline {
  color: #666;
}

@media only screen and (max-width: 767px) {
  #container {
    margin-top: 20px;
  }
  h1 {
    font-size: 64px;
    line-height: 64px;
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
}
